nemo-toolkit[all]
tritonclient[all]
transformer_engine[pytorch]
flask
flask_restful
html2text
google-generativeai
sshtunnel_requests
wonderwords
openai
tiktoken
tenacity
accelerate
huggingface_hub==0.23.4
transformers==4.44.1
flash-attn==2.6.0.post1
vllm==0.5.4