nemo-toolkit[all]
flask
flask_restful
sshtunnel_requests
tritonclient[all]
wonderwords
openai
tiktoken
tenacity
transformers
flash-attn
accelerate
vllm==0.4.0.post1
huggingface_hub
causal-conv1d>=1.2.0
mamba-ssm
html2text
google-generativeai